DATABASE_URL="u721451974_resultspro:*Reedb4b4@tcp(srv2113.hstgr.io:3306)/u721451974_resultspro_db?charset=utf8mb4&parseTime=True&loc=Local&timeout=1s"
USERS_SERVICE_URL="https://resultspro-service-users.onrender.com"

PAYSTACK_PUBLIC_KEY=pk_test_1573581f39d4a4aa7486dc09a13d91856f085063
PAYSTACK_SECRET_KEY=sk_test_816d1a83161ed849b4d7fc4e865e9ebab080ca91

