DATABASE_URL="u721451974_resultspro:*Reedb4b4@tcp(srv2113.hstgr.io:3306)/u721451974_resultspro_db?charset=utf8mb4&parseTime=True&loc=Local&timeout=1s"
USERS_SERVICE_URL="https://resultspro-service-users.onrender.com"
