 tokens?NEXT_PUBLIC_USERS_API=https://resultspro-service-users.onrender.com
NEXT_PUBLIC_RESULTS_API=https://resultspro-service-resultspro.onrender.com
NEXT_PUBLIC_EXAMS_API=https://resultspro-service-examspro.onrender.com
NEXT_PUBLIC_CLASSROOM_API=https://resultspro-service-classroompro.onrender.com
NEXT_PUBLIC_TUTORS_API=https://resultspro-service-tutorspro.onrender.com
NEXT_PUBLIC_COURSES_API=https://resultspro-service-coursespro.onrender.com

NEXT_PUBLIC_API_URL=https://resultspro-service-coursespro.onrender.com/api

# Vercel Domains API Settings
# Generate a token in Vercel Account Settings > Tokens
VERCEL_API_TOKEN=
# Find in Vercel Project Settings > General (starts with prj_)
VERCEL_PROJECT_ID=
# Optional: Only required if the project is under a Vercel Team
VERCEL_TEAM_ID=
