# Environment
NODE_ENV=development

# Server
PORT=5001
API_URL=http://localhost:5000
FRONTEND_URL=http://localhost:8080

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=resultspro_db

# JWT
JWT_SECRET=your_jwt_secret_key_change_in_production_min_32_chars
JWT_REFRESH_SECRET=your_refresh_secret_key_change_in_production_min_32_chars
JWT_EXPIRE=24h
JWT_REFRESH_EXPIRE=7d

# Email - Hostinger SMTP
MAIL_SERVICE=smtp
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=465
MAIL_USER=hello@resultspro.ng
MAIL_PASSWORD=your_hostinger_email_password
MAIL_FROM_NAME=Results PRO
MAIL_FROM_EMAIL=hello@resultspro.ng

# SMS (Twilio)
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=


# Logging
LOG_LEVEL=debug
LOG_FILE_PATH=./logs
DATABASE_URL="u721451974_resultspro:*Reedb4b4@tcp(srv2113.hstgr.io:3306)/u721451974_resultspro_db?charset=utf8mb4&parseTime=True&loc=Local&timeout=1s"
USERS_SERVICE_URL="https://resultspro-service-users.onrender.com"

PAYSTACK_PUBLIC_KEY=pk_test_1573581f39d4a4aa7486dc09a13d91856f085063
PAYSTACK_SECRET_KEY=sk_test_816d1a83161ed849b4d7fc4e865e9ebab080ca91

