NEXT_PUBLIC_USERS_API=http://localhost:7001
NEXT_PUBLIC_RESULTS_API=https://resultspro-service-resultspro.onrender.com
NEXT_PUBLIC_EXAMS_API=http://localhost:8080
NEXT_PUBLIC_CLASSROOM_API=http://localhost:8080
NEXT_PUBLIC_TUTORS_API=http://localhost:8080
NEXT_PUBLIC_COURSES_API=https://resultspro-service-coursespro.onrender.com
