NEXT_PUBLIC_USERS_API=http://localhost:7001
NEXT_PUBLIC_RESULTS_API=https://resultspro-service-resultspro.onrender.com
NEXT_PUBLIC_EXAMS_API=http://localhost:8080
NEXT_PUBLIC_CLASSROOM_API=http://localhost:8080
NEXT_PUBLIC_TUTORS_API=http://localhost:8080
NEXT_PUBLIC_COURSES_API=https://resultspro-service-coursespro.onrender.com

PAYSTACK_PUBLIC_KEY=pk_test_1573581f39d4a4aa7486dc09a13d91856f085063
PAYSTACK_SECRET_KEY=sk_test_816d1a83161ed849b4d7fc4e865e9ebab080ca91

