VITE_API_URL=https://resultspro-service-users.onrender.com
NEXT_PUBLIC_USERS_API=https://resultspro-service-users.onrender.com
NEXT_PUBLIC_RESULTS_API=https://resultspro-service-resultspro.onrender.com
