# ResultsPRO Users Microservice Configuration
PORT=7000

# Central MySQL Database
DATABASE_URL="u721451974_resultspro:*Reedb4b4@tcp(srv2113.hstgr.io:3306)/u721451974_resultspro_db?charset=utf8mb4&parseTime=True&loc=Local"

# JWT Security
JWT_SECRET="your-super-secret-jwt-key-change-in-production-min-32-chars"

SMTP_FROM="hello@resultspro.ng"

# OAuth 2.0 Providers
GOOGLE_CLIENT_ID="your-google-client-id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
GOOGLE_REDIRECT_URL="https://auth.resultspro.ng/callback"

MICROSOFT_CLIENT_ID="your-microsoft-client-id"
MICROSOFT_CLIENT_SECRET="your-microsoft-client-secret"
MICROSOFT_REDIRECT_URL="https://auth.resultspro.ng/callback/microsoft"

PAYSTACK_PUBLIC_KEY=pk_test_1573581f39d4a4aa7486dc09a13d91856f085063
PAYSTACK_SECRET_KEY=sk_test_816d1a83161ed849b4d7fc4e865e9ebab080ca91


# CDN Configuration
CDN_URL=https://cdn.resultspro.ng
CDN_SECRET=your_cdn_secret_here
